@font-face {
  src: url(../font/Acme-Regular.ttf);
  font-family: Acme; }

@font-face {
  src: url(../font/FredokaOne-Regular.ttf);
  font-family: Fre; }

@font-face {
  src: url(../font/FiraSans-Medium.ttf);
  font-family: FiraSans; }

@font-face {
  src: url(../font/RussoOne-Regular.ttf);
  font-family: Russo; }

@font-face {
  src: url(../font/Roboto.ttf);
  font-family: Roboto; }

@font-face {
  src: url(../font/OpenSans-light.ttf);
  font-family: OpenSans; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Fre;
  user-select: none; }

html {
  font-size: 16px; }
  @media (max-width: 900px) {
    html {
      font-size: 13px; } }

body {
  width: 100%;
  min-height: 100vh;
  padding: 0 8rem;
  background-color: #2b2c2f;
  position: relative; }
  @media (max-width: 600px) {
    body {
      padding: 0 1rem; } }

a {
  text-decoration: none; }

button {
  outline: none;
  border: none;
  background: none;
  color: #000; }

ul {
  list-style-type: none; }

iframe:focus {
  outline: none; }

iframe[seamless] {
  display: block; }

.navigation__button {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-color: #2b2c2f;
  border-radius: 50%;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 5000;
  transition: all .1s;
  display: flex;
  justify-content: center;
  align-items: center; }
  .navigation__button:active {
    transform: translate(1px, 2px); }
  @media (max-width: 600px) {
    .navigation__button {
      top: 1rem;
      right: 1rem; } }

.navigation__icon {
  display: block;
  width: 2rem;
  height: .2rem;
  background-color: #fff;
  position: relative;
  transition: all 0.1s; }
  .navigation__icon:after, .navigation__icon:before {
    content: "";
    display: block;
    width: 2rem;
    height: .2rem;
    background-color: #fff;
    position: absolute;
    transition: all 0.2s; }
  .navigation__icon:after {
    top: .5rem; }
  .navigation__icon:before {
    top: -0.5rem; }

.navigation__nav {
  overflow: hidden;
  width: 0%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: black;
  transition: all .5s; }

.navigation__link {
  cursor: pointer;
  font-size: 5rem;
  display: block;
  font-family: Fre, consolas;
  color: transparent;
  font-weight: 700;
  position: relative;
  -webkit-text-stroke: 1px #fff;
  transition: all .2s; }
  @media (max-width: 400px) {
    .navigation__link {
      font-size: 4rem; } }
  .navigation__link:hover {
    color: #fff;
    -webkit-text-stroke: 1px #000; }
    .navigation__link:hover:before {
      color: red;
      z-index: 1;
      -webkit-text-stroke: 1px #000;
      transform: translate(8px, -8px); }
      @media (max-width: 400px) {
        .navigation__link:hover:before {
          transform: translate(6px, -6px); } }
    .navigation__link:hover:after {
      color: cyan;
      z-index: 2;
      -webkit-text-stroke: 1px #000;
      transform: translate(16px, -16px); }
      @media (max-width: 400px) {
        .navigation__link:hover:after {
          transform: translate(12px, -12px); } }
  .navigation__link:after, .navigation__link:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s; }

.navigation__close-btn {
  background-color: transparent; }

.navigation__close-btn:after {
  transform: rotate(45deg);
  top: 0; }

.navigation__close-btn:before {
  transform: rotate(-45deg);
  top: 0; }

.heading-primary {
  color: #fff;
  font-size: 3rem; }

.heading-tertiary {
  text-align: center;
  color: #fb839e;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-family: FiraSans; }

.heading-secondary {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-family: Russo;
  margin-bottom: 2rem;
  font-size: 2rem; }

.floating-block {
  background-color: #2b2c2f;
  border-radius: 20rem;
  box-shadow: -0.05rem -0.05rem 0.2rem #686868, 0.1rem 0.1rem 0.2rem #000; }
  .floating-block--paragraph {
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    background-color: #2b2c2f;
    box-shadow: -0.05rem -0.05rem 0.2rem #686868, 0.1rem 0.1rem 0.2rem #000; }

.floating-block-hover:hover {
  transform: translate(-0.1rem, -0.1rem);
  box-shadow: -0.05rem -0.05rem 0.2rem #000, 0.1rem 0.1rem 0.2rem #686868; }

.floating-block-hover:active {
  transform: translate(0rem, 0rem); }

.three-color-hover {
  color: transparent;
  font-weight: 700;
  position: relative;
  -webkit-text-stroke: 1px #fff;
  transition: all .2s; }
  .three-color-hover:after, .three-color-hover:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s; }
  .three-color-hover:hover {
    color: #fff;
    -webkit-text-stroke: 1px #000; }
    .three-color-hover:hover:before {
      color: red;
      z-index: 1;
      -webkit-text-stroke: 1px #000;
      transform: translate(8px, -8px); }
    .three-color-hover:hover:after {
      color: cyan;
      z-index: 2;
      -webkit-text-stroke: 1px #000;
      transform: translate(16px, -16px); }

.three-color-hover-small {
  color: transparent;
  font-weight: 700;
  position: relative;
  -webkit-text-stroke: 0.5px #fff;
  transition: all .2s; }
  .three-color-hover-small:after, .three-color-hover-small:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s; }
  .three-color-hover-small:hover {
    color: #fff;
    -webkit-text-stroke: 0.5px #000; }
    .three-color-hover-small:hover:before {
      color: red;
      z-index: 1;
      -webkit-text-stroke: 0.5px #000;
      transform: translate(3px, -3px); }
    .three-color-hover-small:hover:after {
      color: cyan;
      z-index: 2;
      -webkit-text-stroke: 0.5px #000;
      transform: translate(6px, -6px); }

.special-border {
  box-shadow: -0.05rem -0.05rem 0.2rem #686868, 0.1rem 0.1rem 0.2rem #000;
  position: relative; }
  .special-border:after {
    content: "";
    width: calc(100% + 1.5rem);
    height: calc(100% + 1.5rem);
    top: -0.75rem;
    left: -0.75rem;
    position: absolute;
    box-shadow: -0.05rem -0.05rem 0.2rem #000, 0.1rem 0.1rem 0.2rem #686868;
    border-radius: inherit; }

.margin-top-small {
  margin-top: 1rem; }

.margin-top-big {
  margin-top: 4rem; }

.margin-bottom-small {
  margin-bottom: 1rem; }

.header {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-content: center; }
  .header__profile-picture {
    position: relative;
    width: 350px;
    height: 350px;
    padding: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 900px) {
      .header__profile-picture {
        width: 250px;
        height: 250px;
        padding: 1.3rem; } }
  .header__info {
    font-family: Fre;
    font-size: 1.5rem;
    display: block;
    color: #a4b2b2; }
  .header__grid-cell--1 {
    display: flex;
    align-items: center; }
    @media (max-width: 900px) {
      .header__grid-cell--1 {
        grid-area: 2 / 1 / 3 / 2; } }
  .header__grid-cell--2 {
    display: flex;
    justify-content: center; }
    @media (max-width: 900px) {
      .header__grid-cell--2 {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        align-items: flex-end; } }
  @media (max-width: 900px) {
    .header__grid-cell {
      display: flex;
      justify-content: center; } }
  @media (max-width: 900px) {
    .header {
      grid-template-columns: auto;
      grid-template-rows: 45% 45%;
      align-content: center; } }

.home-icon {
  cursor: pointer;
  border: 2px solid #fb839e;
  padding: .5rem .9rem;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block; }
  .home-icon--content {
    color: #fb839e;
    font-size: 2rem;
    display: inline-block; }

.btn {
  padding: 1rem 1rem;
  transition: all .1s;
  display: inline-block;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #2b2c2f; }

.btn-pink {
  margin-top: 1rem;
  color: #fb839e; }

.btn-tab {
  color: #fff;
  transition: all 0.2s;
  font-size: 1.2rem;
  background-color: transparent; }
  .btn-tab:hover {
    color: #fb839e; }
  .btn-tab--active {
    border-radius: 20rem;
    box-shadow: -0.05rem -0.05rem 0.2rem #686868, 0.1rem 0.1rem 0.2rem #000;
    color: #fb839e;
    background-color: #2b2c2f; }

@keyframes moving-left-right {
  0% {
    transform: translateX(0rem); }
  25% {
    transform: translateX(1rem); }
  50% {
    transform: translateX(2rem); }
  75% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0rem); } }

@keyframes moving-up-down {
  0% {
    transform: translateY(0rem); }
  25% {
    transform: translateY(1rem); }
  50% {
    transform: translateY(2rem); }
  75% {
    transform: translateY(1rem); }
  100% {
    transform: translatey(0rem); } }

.randomly-shape {
  position: fixed;
  z-index: -1; }

.moving-circle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: cyan;
  top: -4rem;
  left: 40rem;
  animation-name: moving-left-right;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear; }
  .moving-circle:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    content: "";
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #2b2c2f; }

.moving-triangle {
  width: 0;
  height: 0;
  top: 10rem;
  left: 15rem;
  border-top: 1rem solid transparent;
  border-left: 2rem solid rgba(255, 255, 255, 0.5);
  border-bottom: 1rem solid transparent;
  animation-name: moving-left-right;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: linear; }
  .moving-triangle:after, .moving-triangle:before {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: -1rem;
    left: -.8rem;
    border-top: 1rem solid transparent;
    border-left: 2rem solid rgba(255, 0, 0, 0.8);
    border-bottom: 1rem solid transparent; }
  .moving-triangle:before {
    top: -1rem;
    left: -1.4rem;
    border-top: 1rem solid transparent;
    border-left: 2rem solid rgba(0, 255, 255, 0.6);
    border-bottom: 1rem solid transparent; }

.moving-pixel-heart {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #141111;
  margin-left: 10px;
  box-shadow: -10px 10px #141111, -10px 20px #141111, 0px 10px #f56363, 0px 20px #f12f2f, 0px 30px #141111, 10px 0 #141111, 10px 10px #f33d3d, 10px 20px #eb1a1a, 10px 30px #da0303, 10px 40px #141111, 20px 10px #141111, 20px 20px #da0303, 20px 30px #c40303, 20px 40px #880303, 20px 50px #141111, 30px 0 #141111, 30px 10px #da0303, 30px 20px #c40303, 30px 30px #880303, 30px 40px #141111, 40px 0 #141111, 40px 10px #c40303, 40px 20px #880303, 40px 30px #141111, 50px 20px #141111, 50px 10px #141111;
  top: 30rem;
  left: 30rem;
  animation-name: moving-up-down;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear; }

.moving-square {
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid cyan;
  z-index: -1;
  top: 32rem;
  left: 66rem;
  animation-name: moving-left-right;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear; }

.moving-special-circle {
  width: 3rem;
  height: 3rem;
  top: 5rem;
  left: 70rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 100%;
  overflow: hidden;
  grid-gap: 5px;
  border-radius: 50%;
  z-index: -1;
  animation-name: moving-up-down;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear; }
  .moving-special-circle__code {
    background-color: rgba(231, 68, 231, 0.8);
    width: 100%;
    height: 100%; }

.moving-special-dots {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3px;
  top: 30rem;
  left: 2rem;
  transform: rotate(5deg);
  animation-name: moving-left-right;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear; }
  .moving-special-dots__dot {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgba(255, 255, 0, 0.397);
    border-radius: 50%; }

.pic {
  width: 100%;
  height: auto; }
  .pic__round {
    border-radius: 50%; }

.profile-picture {
  width: 100%;
  height: auto; }

.about {
  height: auto;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .about__base-info {
    display: grid;
    grid-template-columns: 40% 55%;
    grid-gap: 5%; }
    .about__base-info--1 {
      width: 80%; }
      @media (max-width: 750px) {
        .about__base-info--1 {
          width: 100%; } }
    .about__base-info--img {
      width: 100%;
      padding: 2rem; }
      @media (max-width: 750px) {
        .about__base-info--img {
          width: 60%;
          display: block;
          margin: 0 auto;
          padding: 1.5rem; } }
    .about__base-info--2__button {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
    .about__base-info--btn:not(:last-child) {
      margin-right: 2rem; }
    @media (max-width: 600px) {
      .about__base-info--btn {
        margin-top: 1rem;
        margin-right: 0.5rem; }
        .about__base-info--btn:not(:last-child) {
          margin-right: 0.5rem; } }
    @media (max-width: 750px) {
      .about__base-info {
        grid-template-columns: auto;
        grid-template-rows: auto auto; } }
  .about__base-info--contact-container {
    margin-top: 2rem;
    text-align: center; }
  .about__tab-btn {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    margin-top: 5.2rem; }

.social-media-icon {
  font-size: 1rem;
  color: #a4b2b2;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  display: inline-block;
  margin-right: 1rem;
  text-align: center; }

.more-info-container {
  display: none;
  transition: all .2s; }

.paragraph {
  color: #a4b2b2;
  font-size: 1rem;
  font-family: OpenSans;
  font-weight: 300; }
  .paragraph__justify {
    text-align: justify; }
  .paragraph__left {
    text-align: left; }
  .paragraph__center {
    text-align: center; }

.skill__container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  width: 100%; }
  @media (max-width: 600px) {
    .skill__container {
      grid-template-columns: auto; } }

.skill__bar {
  width: 100%;
  box-shadow: -0.05rem -0.05rem 0.2rem #000, 0.1rem 0.1rem 0.2rem #686868;
  border-radius: 20rem;
  padding: .3rem; }
  .skill__bar-progress {
    background-color: #fff;
    height: .5rem;
    border-radius: 20rem; }

.skill__info {
  margin-bottom: .5rem;
  color: #fff;
  font-size: .8rem;
  font-family: Roboto; }
  .skill__info:after {
    display: table;
    content: " ";
    clear: both; }

.skill__name {
  float: left; }

.skill__score {
  float: right; }

.skill__progress:nth-child(1) .skill__bar-progress {
  width: 80%; }

.skill__progress:nth-child(2) .skill__bar-progress {
  width: 70%; }

.skill__progress:nth-child(3) .skill__bar-progress {
  width: 50%; }

.skill__progress:nth-child(4) .skill__bar-progress {
  width: 40%; }

.skill__progress:nth-child(5) .skill__bar-progress {
  width: 80%; }

.skill__progress:nth-child(6) .skill__bar-progress {
  width: 40%; }

.skill__progress:nth-child(1) .skill__info {
  width: 80%; }

.skill__progress:nth-child(2) .skill__info {
  width: 70%; }

.skill__progress:nth-child(3) .skill__info {
  width: 50%; }

.skill__progress:nth-child(4) .skill__info {
  width: 40%; }

.skill__progress:nth-child(5) .skill__info {
  width: 80%; }

.skill__progress:nth-child(6) .skill__info {
  width: 40%; }

.time-line {
  position: relative;
  width: 100%;
  margin-top: 1rem; }
  .time-line::after {
    content: "";
    position: absolute;
    width: 0.1rem;
    background-color: #a4b2b2;
    left: 50%;
    height: 100%;
    top: 0;
    transform: translateX(-50%); }
    @media (max-width: 600px) {
      .time-line::after {
        left: 100%;
        transform: translateX(-50%); } }
  .time-line__container {
    position: relative;
    width: 50%; }
    @media (max-width: 600px) {
      .time-line__container {
        width: 100%; }
        .time-line__container:not(:last-child) {
          margin-bottom: 1rem; } }
    .time-line__container--left {
      padding-right: 3rem;
      text-align: right;
      left: 0; }
      .time-line__container--left::after {
        width: 2rem;
        height: 0.1rem;
        background-color: #a4b2b2;
        content: "";
        position: absolute;
        right: 1rem;
        top: 1.5rem; }
    .time-line__container--right {
      left: 50%;
      padding-left: 3rem;
      text-align: left; }
      .time-line__container--right::after {
        width: 2rem;
        height: 0.1rem;
        background-color: #a4b2b2;
        content: "";
        position: absolute;
        left: 1rem;
        top: 1.5rem; }
        @media (max-width: 600px) {
          .time-line__container--right::after {
            position: absolute;
            left: calc(100% - 3rem);
            top: 1.5rem; } }
      @media (max-width: 600px) {
        .time-line__container--right {
          padding-right: 3rem;
          padding-left: 0;
          text-align: right;
          left: 0; }
          .time-line__container--right .paragraph {
            text-align: right; } }
  .time-line__content {
    padding: 1rem;
    border-radius: .5rem; }
  .time-line__time {
    font-size: .7rem;
    color: #fb839e;
    font-family: OpenSans; }
  .time-line__heading {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 300; }
    .time-line__heading--sub {
      font-size: .9rem;
      color: #a4b2b2; }
  .time-line__icon {
    position: absolute;
    top: 0.5rem;
    background-color: #2b2c2f;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid #a4b2b2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 3; }
    .time-line__icon--left {
      right: 0;
      transform: translateX(50%); }
    .time-line__icon--right {
      left: 0;
      transform: translateX(-50%); }
      @media (max-width: 600px) {
        .time-line__icon--right {
          left: 100%; } }
    .time-line__icon--icon {
      color: #fb839e; }

.portfolio {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-gap: 3.5%;
  width: 100%; }
  @media (max-width: 600px) {
    .portfolio {
      grid-template-columns: 48% 48%;
      grid-gap: 4%; } }
  @media (max-width: 400px) {
    .portfolio {
      grid-template-columns: 100%;
      grid-row-gap: 2rem; } }
  .portfolio__picture {
    width: 100%;
    height: auto;
    cursor: pointer; }
  .portfolio__cell {
    width: 100%;
    border-radius: .5rem;
    padding: 1rem 1rem;
    text-align: center; }

.port-fillter {
  transition: all .5s; }
  .port-fillter__container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap; }
  .port-fillter__cell {
    cursor: pointer;
    overflow: hidden;
    border-radius: 1rem;
    width: 16rem;
    height: 20rem;
    margin: 1rem;
    transition: all 0.2s;
    padding: 1rem; }
    .port-fillter__cell img {
      width: 100%;
      height: 15rem; }
    .port-fillter__cell__title {
      color: #fff;
      font-size: 1.2rem;
      font-family: Fre;
      margin-top: .6rem;
      font-weight: 100; }
    .port-fillter__cell:hover {
      transform: scale(1.2);
      background-color: #fb839e;
      border: .2rem solid cyan; }
  @media (max-width: 400px) {
    .port-fillter__cell {
      height: 40rem; } }

/* width */
::-webkit-scrollbar {
  width: .5rem; }

/* Track */
::-webkit-scrollbar-track {
  background-color: #2b2c2f; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a4b2b2; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff; }

.project {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .project__tab-btn {
    text-align: center; }

.card {
  perspective: 1000px; }
  .card__title {
    color: #a4b2b2;
    font-size: 1.2rem;
    font-family: Fre;
    margin-top: .6rem;
    font-weight: 100; }
    @media (max-width: 400px) {
      .card__title {
        display: none; } }
  .card__inner {
    border-radius: 1rem;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d; }
  .card__front, .card__back {
    padding: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .card__back {
    transform: rotateY(180deg); }
    .card__back a {
      position: absolute;
      bottom: 2rem;
      color: #fff;
      transition: all .2s; }
      .card__back a:hover {
        color: #fb839e; }
  .card:hover .card__inner {
    transform: rotateY(180deg); }
  .card__header {
    color: #fb839e;
    text-align: center;
    font-size: 2rem; }
    @media (max-width: 400px) {
      .card__header {
        font-size: 1.5rem; } }
  @media (max-width: 400px) {
    .card__front, .card__back {
      position: relative;
      height: 50%; }
    .card__front {
      padding-bottom: 0; }
    .card__back {
      padding-top: 0;
      transform: rotateY(0deg); }
    .card:hover .card__inner {
      transform: rotateY(0); } }

.contact {
  padding-top: 5rem; }
  .contact__info {
    display: flex;
    justify-content: center;
    width: 100%; }
    .contact__info__cell {
      padding: 2rem 0;
      text-align: center;
      border-radius: 1rem;
      flex: 30%;
      margin: 1.7rem; }
    .contact__info__heading {
      margin: .6rem 0;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 100; }
    .contact__info--info {
      user-select: text;
      color: #a4b2b2;
      font-size: 1rem; }
      .contact__info--info a {
        color: #a4b2b2;
        transition: all .2s; }
        .contact__info--info a:hover {
          color: #fb839e; }
    @media (max-width: 600px) {
      .contact__info {
        flex-wrap: wrap; } }
    @media (max-width: 400px) {
      .contact__info__cell {
        flex: 100%; } }
  .contact__icon {
    color: #fb839e;
    font-size: 1.3rem; }
  .contact__form--input {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
    position: relative;
    height: auto; }
    @media (max-width: 600px) {
      .contact__form--input {
        grid-template-columns: 100%; } }
  .contact__form--container {
    margin-top: 1rem; }
  .contact__form--form {
    position: relative; }

.form__input {
  border-radius: 1rem;
  padding: .4rem .8rem; }
  .form__input:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input label {
    color: #a4b2b2; }
  .form__input input {
    font-size: 1rem;
    font-weight: bold;
    font-family: OpenSans;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    width: 80%; }
    @media (max-width: 400px) {
      .form__input input {
        width: 100%; } }
  .form__input textarea {
    font-size: 1rem;
    font-family: OpenSans;
    color: #fff;
    margin-top: .5rem;
    display: block;
    width: auto;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    width: 100%; }

.send-btn {
  display: block;
  position: relative;
  outline: none;
  border: none;
  transition: all .2s;
  margin-bottom: 2rem; }
  @media (max-width: 600px) {
    .send-btn {
      margin-top: 3rem; } }

:root {
  --effect: hover 1s linear infinite; }

.loader__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #2b2c2f;
  z-index: 45646456465465; }

.loader__shape {
  display: grid;
  grid-template-columns: auto auto auto auto; }

.loader__square {
  width: 4rem;
  height: 4rem;
  border: .6rem solid cyan; }

.loader__triangle {
  width: 0;
  height: 0;
  border-top: 2rem solid transparent;
  border-left: 4rem solid #fb839e;
  border-bottom: 2rem solid transparent; }

.loader__circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.6rem solid red; }

.loader__diamond {
  width: 2.828rem;
  height: 2.828rem;
  background-color: rgba(255, 255, 0, 0.397);
  transform: rotate(45deg);
  border-radius: .1rem; }

.loader__shape div {
  animation-name: jumpingShape;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear; }
  .loader__shape div:nth-child(2) {
    animation-delay: 0.25s; }
  .loader__shape div:nth-child(3) {
    animation-delay: .5s; }
  .loader__shape div:nth-child(4) {
    animation-delay: .75s; }

.loader__text {
  text-align: center; }
  .loader__text p {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray; }
  .loader__text p:nth-child(1) {
    animation: var(--effect); }
  .loader__text p:nth-child(2) {
    animation: var(--effect) 0.125s; }
  .loader__text p:nth-child(3) {
    animation: var(--effect) 0.25s; }
  .loader__text p:nth-child(4) {
    animation: var(--effect) 0.375s; }
  .loader__text p:nth-child(5) {
    animation: var(--effect) 0.5s; }
  .loader__text p:nth-child(6) {
    animation: var(--effect) 0.625s; }
  .loader__text p:nth-child(7) {
    animation: var(--effect) 0.75s; }

@keyframes hover {
  0% {
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray; }
  20% {
    transform: scale(1);
    color: pink;
    -webkit-text-stroke: 3px red;
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 3px red) drop-shadow(0 0 5px red) hue-rotate(10turn); }
  50% {
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray; } }

@keyframes jumpingShape {
  0% {
    transform: translateY(0rem); }
  25% {
    transform: translateY(-2rem); }
  50% {
    transform: translateY(-4rem); }
  75% {
    transform: translateY(-2rem); }
  100% {
    transform: translatey(0rem); } }

.footer {
  position: absolute;
  text-align: center;
  display: block;
  bottom: -3rem;
  left: 0;
  padding: 1rem;
  width: 100%;
  border-radius: 0; }
  .footer__copyright {
    font-size: 1rem;
    display: inline;
    color: #a4b2b2; }
  @media (max-width: 900px) {
    .footer {
      bottom: 0rem; } }
  @media (max-width: 600px) {
    .footer {
      bottom: -5rem; } }
  .footer__social {
    display: inline; }
    .footer__social--icon {
      padding: 1rem;
      font-size: 1rem;
      color: #a4b2b2; }
      .footer__social--icon p {
        display: inline-block; }
        @media (max-width: 400px) {
          .footer__social--icon p {
            display: none; } }

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .slide__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    transition: color 0.2s;
    color: #fff;
    cursor: pointer; }
    .slide__close:active {
      box-shadow: -0.05rem -0.05rem 0.2rem #000, 0.1rem 0.1rem 0.2rem #686868;
      transform: translate(0.1rem, 0.1rem); }
    .slide__close:hover {
      color: #fb839e; }
  @media (max-width: 600px) {
    .slide {
      flex-direction: column;
      overflow: hidden; } }
  .slide__container {
    border-radius: .5rem;
    width: 50%;
    flex-shrink: 0;
    transform: scale(0.3);
    position: relative;
    left: 75%;
    padding: 1rem;
    background-color: #000;
    transition: top 1s, left 1s, transform 1s;
    box-shadow: -0.05rem -0.05rem 0.2rem #686868, 0.1rem 0.1rem 0.2rem #686868;
    position: relative; }
    @media (max-width: 600px) {
      .slide__container {
        left: 0;
        padding: 0rem;
        top: 0;
        height: 70%;
        width: 80%;
        overflow: hidden; } }
  .slide--active {
    transform: scale(1); }
    @media (max-width: 600px) {
      .slide--active {
        overflow: hidden; } }
  .slide__header {
    padding: 1rem;
    border-bottom: 1px solid #a4b2b2;
    padding-bottom: .5rem; }
  .slide__name {
    color: #fb839e;
    font-size: 1.5rem;
    font-weight: 100; }
  .slide__category {
    font-weight: 100;
    color: #686868; }
    .slide__category span {
      color: #a4b2b2;
      font-weight: 100; }
  .slide__detail {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 5%;
    padding: 1rem;
    border-bottom: 1px solid #a4b2b2; }
    @media (max-width: 400px) {
      .slide__detail {
        grid-template-columns: 100%; } }
  .slide__brief__header {
    font-family: Russo;
    font-weight: 100;
    color: #000;
    margin-bottom: .5rem;
    font-size: 1rem; }
  .slide__brief p {
    font-size: 0.9rem;
    color: #686868;
    word-wrap: break-word; }
  .slide__info p {
    font-size: 0.9rem;
    color: #686868; }
    .slide__info p a {
      color: #686868;
      font-family: OpenSans;
      transition: all 0.2s;
      word-wrap: break-word; }
      .slide__info p a:hover {
        color: #fb839e; }
    .slide__info p span {
      font-family: FiraSans; }
  .slide__project {
    padding: 1rem; }
    .slide__project iframe {
      display: none; }
      .slide__project iframe:focus {
        border: 5px solid red; }
    .slide__project__picture {
      position: relative; }
      .slide__project__picture:hover .slide__link {
        opacity: 1; }
      .slide__project__picture img {
        width: 100%;
        height: 100%; }
  .slide__content {
    height: 100%;
    background-color: #fff;
    border-radius: .5rem; }
  .slide__move {
    position: absolute;
    font-size: 5rem;
    color: #fb839e;
    width: 8%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer; }
    .slide__move:hover {
      opacity: 1; }
    @media (max-width: 600px) {
      .slide__move {
        opacity: .5;
        width: 30%;
        height: 8%;
        left: 50%;
        font-size: 3rem;
        transform: translateX(-50%); } }
  .slide__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 3rem;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.96); }
    .slide__link i {
      color: #fb839e;
      margin-right: 2rem;
      animation-name: moving-left-right;
      animation-duration: 1.2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
    .slide__link a {
      color: #fb839e; }

#next-slide {
  right: 0;
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem; }
  @media (max-width: 600px) {
    #next-slide {
      bottom: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem; } }

#prev-slide {
  left: 0;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem; }
  @media (max-width: 600px) {
    #prev-slide {
      left: 50%;
      top: 0;
      border-bottom-right-radius: .5rem;
      border-top-right-radius: 0rem;
      border-bottom-left-radius: .5rem; } }

.project-details {
  display: none;
  position: absolute;
  z-index: 846456464645646546465;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: width .5s; }
  .project-details__content {
    width: 100%;
    height: 100%;
    position: relative; }
